name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-assets
          path: ./dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Verify Secret Presence
        run: |
          if [ -z "${{ secrets.DEPLOY_TOKEN }}" ]; then
            echo "❌ ERROR: DEPLOY_TOKEN no encontrado en los secretos del repositorio."
            exit 1
          else
            echo "✅ DEPLOY_TOKEN detectado, procediendo..."
          fi

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-assets
          path: dist

      - name: Manual Deploy to External Repo
        run: |
          cd dist
          git init
          git config user.name "futesat"
          git config user.email "[EMAIL_ADDRESS]"
          git add .
          git commit -m "Deploy to production"
          git push -f https://futesat:${{ secrets.DEPLOY_TOKEN }}@github.com/casadacuncheira/casadacuncheira.github.io.git main
